/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/

$--color-primary: rgba(240,107,90,1);
$--color-success: rgba(60,190,160,1) ;
$--color-warning: rgba(242,147,91,1) ;
$--color-danger: rgba(245,82,62,1);
//  $--color-info: rgba(64,72,83,1) ;
$--color-info: #747d8b;
/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
