// sidebar
$menuText:rgba(80,80,80,1);
$menuActiveText:rgba(240,107,90,1);
$subMenuActiveText:rgba(240,107,90,1); //https://github.com/ElemeFE/element/issues/12951

// $menuBg:#304156;
$menuBg:rgba(222,222,222,1);
$menuHover:#fff;

$subMenuBg:rgba(222,222,222,1);
$subMenuHover:#fff;
$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
